{% extends "base.html" %}
{% block title %}Подробнее{% endblock %}

{% block main %}
{% load static %}
<div align="center">
<h1>О фильме: {{ film.movie_title }}</h1>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
<img src="{{ film.image.url }}" class="img-fluid" alt="{{ film.movie_title }}">
<br>
<br>
<table class="table table-hover">

    <tbody>
    <tr>
        <td>Год выпуска фильма</td>
        <td>{{ film.production_year }}</td>
    </tr>
    <tr>
        <td>Страна производства</td>
        <td>{{ film.country }}</td>
    </tr>
    <tr>
        <td>Бюджет фильма</td>
        <td>{{ film.budget }} $</td>
    </tr>
    <tr>
        <td>Мировые сборы фильма</td>
        <td>{{ film.worldwide_gross }} $</td>
    </tr>
    <tr>
        <td>Жанр</td>
        <td>{{ film.genre.all|join:", " }}</td>
    </tr>
    <tr>
        <td>Режисеры</td>
        <td>{{ film.director.all|join:", " }}</td>
    </tr>
    <tr>
        <td>Продюсеры</td>
        <td>{{ film.producer.all|join:", " }}</td>
    </tr>
    <tr>
        <td>Актеры:</td>
        <td>{{ film.actor.all|join:", " }}</td>
    </tr>
    <tr>
        <td>Средний рейтинг:</td>
        <td>{{ film.rating }}</td>
    </tr>
    </tbody>
</table>
<hr>
</div>



    <div class="col">
        {% for review in film.review_set.all %}
        <div class="col py-auto px-auto">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.film_review_title }} </h5>
                            <p class="card-text">Рейтинг: {{ review.rating }} </p>
                            <p class="card-text">Автор: {{ review.author_review.fio}} </p>
                            <p class="card-text">{{ review.film_review }} </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="col py-auto px-auto">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">

                            <a href="{% url 'catalog:create' %}">Новый отзыв</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
    </div>
<br>


<br>

{% endblock %}
